# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
Gerbers/Falcon LEDs RevB.zip
Gerbers/BandaiLights RevB/BandaiLights.GBL
Gerbers/BandaiLights RevB/BandaiLights.GBO
Gerbers/BandaiLights RevB/BandaiLights.GBS
Gerbers/BandaiLights RevB/BandaiLights.GML
Gerbers/BandaiLights RevB/BandaiLights.GTL
Gerbers/BandaiLights RevB/BandaiLights.GTO
Gerbers/BandaiLights RevB/BandaiLights.GTP
Gerbers/BandaiLights RevB/BandaiLights.GTS
Gerbers/BandaiLights RevB/BandaiLights.TXT
